---
layout: page
title: Sheldon Price - Live Performer And Music Entertainer
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">                 <br>                   </h1>
          <p class="animated fadeInUp">                                                    </p>

          <h1 class="animated fadeInUp">Hire A Vocal Performer <br> Musician & Entertainer</h1>
          <p class="animated fadeInUp">Professional Vocalist and Musical Entertainer - Book Sheldon Price for your next live event!</p>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Live Singing and Musical Performances</h2>
            <p>From honey-smooth baritone to crystalline tenor, the voice is a fine-tuned, precision instrument and Price is the skilled craftsman who wields its four and one half octave range with a practiced ease.</p>
          </div>
          <p>Hes an artist with a limitless palette of bold and subtle colors setting moods and creating atmospheres with insistent growls and sensual whispers or whatever it takes. He is an artists with a profound appreciation for the artistry of the writers and producers.</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/sheldon_bw1.jpg" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Live Entertainment Special - A Tribute To Lou Rawls</h2>
<!--             <p>From honey-smooth baritone to crystalline tenor, the voice is a fine-tuned, precision instrument and Price is the skilled craftsman who wields its four and one half octave range with a practiced ease.</p> -->
          </div>
          <p>Why Lou Rawls? Sheldon Price was raised and influenced on the Golden Era of Music, when singers like Lou Rawls, Jeffrey Osborn, Johnny Hartman, Tom Jones, and Billy Joel sang of love and respect for all women. Just like the great Lou Rawls, Sheldon wants to entertain you with class, style, and grace. Accompanied by Musical Director Brett Jolly and his 4 piece band, the group have the ability to recreate some of the most incredible live music of our era.</p>

          <p>Sheldon is also an established night club performer in Las Vegas and has hosted shows for the Delfonics, Harold Melvin and the Blue Note.  He has entertained at The Sands, The Wyndham, The Clarion hotels, Kelsev's Restaurant in Ocean Casino in Atlantic City, and has an ongoing show at the Clarion Hotel in Mt. Laurel, NJ, titled 'Sheldon Price Presents the Spotlight', where poets, singers and comedians get a chance to shine in a lavish environment.</p> 

          <p>Click <a href="/videos">HERE</a> to watch more performances</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/TqKuxFatJoY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Decades of Live Musical Performances and Singing Experiance</h2>
            <p>Like a fine wine, Sheldon Price has grown bolder and better as his career progresses.</p>
          </div>
          <p>Years of meticulous preparation have taught him that talent alone, even a prodigious talent like his, is not enough to make it in the highly-competitive music industry. He will take his rightful place in the pantheon of music industry stars because he is a blue-collar worker who demands more from himself than any rigors of the weight room to keep his body taut or the hours of daily vocalizing to fine-tune the voice and polish his performance skills, Sheldon Price has devoted every effort to reaching the top. So if you havent heard him yet, you will. Sheldon Price, remember the name. You wont forget the voice. </p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/featue-bg.jpg" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<!-- <section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>Sheldon Through The Years</h2>
      <p>Like a fine wine, Sheldon Price has grown bolder and better as his career progresses.</p>

      <a href="music" class="btn btn-view-works">View Works</a>
    </div>
  </div>
</div>
</section> -->

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
<!--         <h2>Our Services</h2> -->
        <p>No matter what kind of event, party, or gathering you are having, Sheldon Price is there to take the burden off off your hands</p>
      </div>
    </div>
    <div class="row ">
<!--       <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-planet"></i>
          <h4>Weddings</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div> -->
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-headphone"></i>
          <h4>Live Musical Performances</h4>
          <p>Music Festivals, Social Events, Birthday Parties, Cocktail Parties Cruise Ships, Weddings, Etc. </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-image"></i>
          <h4>Special Event Hosting</h4>
          <p>Hire the proper host to make everyone at your party feel like a star</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-coffee"></i>
          <h4>Consultations and Party Planning</h4>
          <p>Resources from A to Z to plan a successful event</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>AND MORE!</h4>
          <p>Contact our team directly about your ideas! </p>
        </div>
      </div>
      <div class="col-sm-5 col-md-12">
        <div class="block">
          <img src="img/sheldon-vocal-singer-performance.jpg" title="Vocal Singer And Live Performer" alt="Vocal Singer And Live Performer" width="400" height="auto" loading="lazy">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Have Any Feedback or Comments?</h2>
          <p>We would love to hear from anyone regarding past performances or musical colaberations</p>
          <a class="btn btn-default btn-call-to-action" href="contact" >Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Performance Reviews</h2>
        <p>Sheldon Price and his team always strive for the best. Here are some of the many glowing reviews from past performances</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
